* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: myFont;
}

/* Creates custom font */
@font-face {
    font-family: myFont;
    src: url(../assets/DkCrayonCrumble-ddll.woff);
}

/* Creates custom border */
.shakey-border {
    /* thickness of border */
    border: 3rem solid transparent;
    border-image: url('../assets/shakeyborder.png') 23% stretch;
}

/* Page layout & where the files sit */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2vh;
    background: #fff;
    font-family: sans-serif;
}

/* Cabinet interior */
.cabinet {
    position: absolute;
    bottom: 46vh;
    width: 78vw;
    max-width: 85vh;
    height: 45vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: flex;
}

/* Adds custom border to cabinet */
.cabinet.shakey-border {
    border-width: 3.3rem;
}

/* Drawer face that moves up/down */
.drawer-front {
    position: absolute;
    bottom: 4vh;
    width: 81%;
    max-width: 88vh;
    height: 46vh;
    background: #fff;
    z-index: 2;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Adds custom border to drawer front */
.drawer-front.shakey-border{
    border-width: 3.3rem;
}

/* Title on the drawer front */
.drawer-title {
    font-size: 2rem;
    text-align: center;
    width: 60%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 5%;
    margin: 2rem;
    border: 1rem solid transparent;
    border-image: url('../assets/shakeyborder.png') 7% round;
}

/* Drawer handle */
.handle {
    position: relative;
    width: 10vw;
    max-width: 10vw;
    height: 1vh;
    background: #ffffff;
    cursor: pointer;
    margin: 2rem 0;
    border: 0.6rem solid transparent;
    border-image: url('../assets/shakeyborder.png') 4% round;
}

/* Contains all stacked files */
.files {
    position: relative;
    transition: transform 0.2s ease, z-index 0.1s ease;
    width: 75vw;
    max-width: 80vh;
    max-height: 76vh;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

/* Stack the files with overlap, all except the front one */
.file:not(:last-child) {
    margin-bottom: -47vh;
}

/* Main file display */
.file {
    position: relative;
    transition: transform 0.2s ease, z-index 0.1s ease;
    display: flex;
    height: 49.4vh;
    width: 75vw;
    max-width: 80vh;
    background: #fff;
    cursor: pointer;
    transition: transform 0.12s ease;
    bottom: 10vh
}

/* Adds custom border to the files */
.file.shakey-border {
    border-width: 3.3rem;
}

/* Creates the file tabs */
.file::before {
    content: '';
    position: absolute;
    top: 0;
    left: 10%;
    transform: translateY(-210%);
    width: 8%;
    max-width: 8%;
    height: auto;
    background: #fff;
    border: 2.5rem solid transparent;
    border-image: url('../assets/shakeyborder.png') 18% round;
    border-bottom: none;
}


/* Adjust the tab placement for different files */
.file:nth-child(3n + 1)::before {
    left: 10%;
    max-width: 12%;
}

.file:nth-child(3n + 2)::before {
    left: 78%;
    max-width: 12%;
}

.file:nth-child(3n + 3)::before {
    left: 0%;    
    max-width: 12%;
}

/* File date on the tab */
.file-date {
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 1.5rem;
    text-align: center;
    white-space: normal;
    max-width: 100%;
    line-height: 1.4rem;
    transform: translate(0%, -150%);
}

/* Adjusts the placement of the dates to match the tabs */
.file:nth-child(3n + 1) .file-date {
    left: 12%;
    max-width: 15%;
}

.file:nth-child(3n + 2) .file-date {
    left: 80%;
    max-width: 18%;
}

.file:nth-child(3n + 3) .file-date {
    left: 2%;
    max-width: 15%;
}

/* Left-side image area on each file */
.file-image {
    float: left;
    width: 60%;
    box-sizing: border-box;
}

/* Resize and display image */
.file-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    max-height: 100%;
}

/* Right-side text caption on each file */
.file-caption {
    width: 40%;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Phone display */
@media (max-width: 500px),
(max-height: 800px) {

    /* Body padding smaller */
    body {
        padding-bottom: 1vh;
    }

    /* Cabinet */
    .cabinet {
        bottom: 40vh;
        width: 90vw;
        max-width: 90vw;
        height: 40vh;
        max-height: 40vh;
    }

    .cabinet.shakey-border {
        border-width: 2.5rem;
    }

    /* Drawer front */
    .drawer-front {
        bottom: 6vh;
        width: 90%;
        max-width: 90vw;
        height: 42vh;
    }

    .drawer-front.shakey-border {
        border-width: 2.5rem;
    }

    /* Drawer title */
    .drawer-title {
        font-size: 1.4rem;
        width: 70%;
        height: 4rem;
        margin: 1rem;
        border-width: 0.8rem;
    }

    /* Drawer handle */
    .handle {
        width: 15vw;
        height: 0.8vh;
        margin: 1rem 0;
        border-width: 0.4rem;
    }

    /* Files container */
        .files {
            width: 85vw;
            max-width: 85vw;
            max-height: 10vh;
        }

    /* File main container */
        .file {
            bottom: 77vh;
            height: 40vh;
            width: 85vw;
            max-width: 85vw;
        }

    .file.shakey-border {
        border-width: 2.5rem;
    }

    .file:not(:last-child) {
        margin-top: 9.5vh;
    }

    /* Tabs */
    .file::before {
        width: 10%;
        max-width: 10%;
        transform: translateY(-210%);
        border-width: 2rem;
    }

    .file:nth-child(3n + 1)::before {
        left: 10%;
    }

    .file:nth-child(3n + 2)::before {
        left: 75%;
    }

    .file:nth-child(3n + 3)::before {
        left: 0%;
    }

    /* Dates inside tabs */
    .file-date {
        font-size: 0.9rem;
        max-width: 50%;
        line-height: 1rem;
        transform: translate(-40%, -300%);
        white-space: wrap;

    }

    .file:nth-child(3n + 1) .file-date {
        left: 21%;
        max-width: 50%;
    }

    .file:nth-child(3n + 2) .file-date {
        left: 85%;
        max-width: 50%;
    }

    .file:nth-child(3n + 3) .file-date {
        left: 10%;
        max-width: 50%;
    }

    /* Images inside files */
    .file-image {
        width: 55%;
    }

    .file-image img {
        max-height: 90%;
    }

    /* Captions */
    .file-caption {
        width: 45%;
        font-size: 1rem;
    }

    /* Titles and drawer handle smaller */
    .drawer-title {
        font-size: 1.5rem;
    }

    .handle {
        height: 0.7vh;
        width: 12vw;
    }
}