* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: myFont;
}

/* Creates custom font */
@font-face {
    font-family: myFont;
    src: url(../assets/DkCrayonCrumble-ddll.woff);
}

/* Creates custom border */
.shakey-border {
    /* thickness of border */
    border: 50px solid transparent;
    border-image: url('../assets/shakeyborder.png') 23% stretch;
}

/* Page layout & where the files sit */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2vh;
    background: #fff;
    font-family: sans-serif;
}

/* Cabinet interior */
.cabinet {
    position: absolute;
    bottom: 46vh;
    width: 80vw;
    max-width: 700px;
    height: 47vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* Adds custom border to cabinet */
.cabinet.shakey-border {
    border-width: 50px;
}

/* Drawer face that moves up/down */
.drawer-front {
    position: absolute;
    bottom: 10px;
    width: 80%;
    max-width: 710px;
    height: 46vh;
    background: #fff;
    z-index: 1;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Adds custom border to drawer front */
.drawer-front.shakey-border{
    border-width: 50px;
}

/* Title on the drawer front */
.drawer-title {
    font-size: 2rem;
    text-align: center;
    width: 60%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 1px;
    margin: 2rem 0;
    border: 15px solid transparent;
    border-image: url('../assets/shakeyborder.png') 7% round;
}

/* Drawer handle */
.handle {
    width: 25%;
    max-width: 200px;
    height: 0.5rem;
    background: #ffffff;
    cursor: pointer;
    margin: 2rem 0;
    border: 10px solid transparent;
    border-image: url('../assets/shakeyborder.png') 4% round;
}

/* Contains all stacked files */
.files {
    position: relative;
    transition: transform 0.2s ease, z-index 0.1s ease;
    bottom: 10;
    width: 80%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

/* Stack the files with overlap, all except the front one */
.file:not(:last-child) {
    margin-bottom: -47.2vh;
}

/* Main file display */
.file {
    position: absolute;
    transition: transform 0.2s ease, z-index 0.1s ease;
    display: flex;
    width: 95%;
    height: 50vh;
    background: #fff;
    cursor: pointer;
    position: relative;
    transition: transform 0.12s ease;
}

/* Adds custom border to the files */
.file.shakey-border {
    border-width: 50px;
}

/* Creates the file tabs */
.file::before {
    content: '';
    position: absolute;
    top: -25.3%;
    left: 10%;
    width: 10%;
    height: -1%;
    background: #fff;
    border: 37px solid transparent;
    border-image: url('../assets/shakeyborder.png') 18% round;
    border-bottom: none;
}


/* Adjust the tab placement for different files */
.file:nth-child(3n + 1)::before {
    left: -1%;
    width: 12%;
}

.file:nth-child(3n + 2)::before {
    left: 16%;
    width: 12%;
}

.file:nth-child(3n + 3)::before {
    right: -1%;
    left: auto;
    width: 12%;
}

/* File date on the tab */
.file-date {
    position: absolute;
    top: -22%;
    font-size: 1.4rem;
    color: #000;
    text-align: center;
    z-index: 0;
}

/* Adjusts the placement of the dates to match the tabs */
.file:nth-child(3n + 1) .file-date {
    left: 1%;
    width: 20%;
}

.file:nth-child(3n + 2) .file-date {
    left: 17.5%;
    width: 20%;
}

.file:nth-child(3n + 3) .file-date {
    right: 3%;
    left: auto;
    width: 20%;
}

/* Left-side image area on each file */
.file-image {
    float: left;
    width: 60%;
    box-sizing: border-box;
}

/* Resize and display image */
.file-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    max-height: 100%;
}

/* Right-side text caption on each file */
.file-caption {
    width: 40%;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
